* { box-sizing: border-box; }
 
 body {
 	font-family: arial;
 }

 h1 {
 	text-align: center;
 	font-size: 24px;
 }
 .title {
 	position: absolute;
 	top: 0;
 	right: 0;
 	border: 1px solid black;
 	font-size: 24px;
 }

 #section1, #section2, #section3 {
 	
 	padding: 12px;

 }

 #section1 .content, #section2 .content, #section3 .content {
 	font-size: 24px;
 	background-color: grey; 
 	position: relative;
 	border:1px solid black;
 	padding-top: 12px;

 }
 
#section1 .title {
	background-color: blue;

}

#section2 .title {
	background-color: red;
	font-weight: bold;
	color: #FFFFFF;
}

#section3 .title {
	background-color: yellow;
}

/* desktop  */
@media  (min-width: 992px) {
	#section1, #section2, #section3 {
		display: inline-block;
		width: 33%;
	} 
}

/*tablet*/
@media (min-width:768px) and (max-width: 991px) {
	#section1, #section2, #section3 {
		display: inline-block;
	} 

	#section1, #section2 {
		width: 40%;
	}

	#section3 {
		width: 100%;
	}

}

/*mobile*/
@media  (max-width: 767px) {
	#section1, #section2, #section3 {
		display: inline-block;
		width: 100%;
	} 

}